<html>
    <head>
        <title>Photo App</title>
    </head>
    <body>
        <h1><a href="">사진 목록 페이지</a></h1>
        <h3><a href="{% url 'photo_post' %}">New Photo</a></h3>
        <section>
            {% for photo in photos %}
            <div>
                <h2>
                    <a href="{% url 'photo_detail' pk=photo.pk %}">{{ photo.title }}</a>
                </h2>
                <img src="{{ photo.image }}" alt="{{ photo.title }}" width="300" />
                <p>{{ photo.author }}, {{ photo.price }}원</p>
            </div>
            {% endfor %}
            <!-- 
            <div>
                <h2>
                    <a href="">푸른 언덕</a>
                </h2>
                <img
                    src="http://wallpapercave.com/wp/wp2754864.jpg"
                    alt="푸른언덕"
                    width="300"
                    />
                <p>마이크로소프트, 1000원</p>
            </div>
            <div>
                <h2>
                    <a href="">푸른 언덕2</a>
                </h2>
                    <img
                        src="https://wallpapercave.com/wp/wp2754864.jpg"
                        alt="푸른언덕"
                        width="300"
                    />
                    <p>마이크로소프트, 1000원</p>
                
            </div>

            -->
            
        </section>
    </body>
</html>

<!-- 템플릿 -->